body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav{
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav a{
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.container{
  padding: 20px;
}

.products-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product, .cart-item {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px #00000010;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.product img{
  max-width: 200px;
  max-height: 200px;
  object-fit: contain;
}