.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
    max-width: 500px;
    margin: 15px auto;
}

.inputGroup {
    margin-bottom: 10px;
}

.inputLabel {
    margin-bottom: 5px;
}

.inputField {
    padding: 5px;
    width: 150px;
}

.checkboxInput {
    margin-right: 10px;
}

.calculateButton {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

.calculateButton:hover {
    /* background-color: #45a049; */
    opacity: 1;
}

.error{
    color: var(--red);
    margin-top: 5px;
    font-style: italic;
}